.section {
  width: 100%;
  padding: 30px;

  .card {
    border-radius: 20px;
    height: 100%;
    align-items: stretch;
    position: relative;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .header {
      color: #111111;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .sub_header {
      font-size: 14px;
    }

    .like {
      position: absolute;
      top: 10px;
      right: 10px;
      background: white;
      color: black;

      &:hover {
        background: black;
        color: white;
      }
    }

    .footer {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      justify-content: space-between;
      width: 90%;

      .text {
        color: black;
        font-size: 14px;
        font-weight: 600;
      }

      .sub_text {
        font-size: 14px;
      }
    }
  }
}
